body{
    padding: 0px;
    margin: 0px;
    background-color: #0C376F;
}

.canciones{
    text-align: center;
    color: #f4f5f6;
}

.volumen{
    padding-top: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.botones{
    text-align: center;
    border-radius: 30px;
    width: 25%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 65px;
    border: 2px solid #f3f3f3;
    background-color: #8E9DB0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    margin: 0 auto;
}

p{
    cursor: pointer;
}


p:hover{
    color: rgb(182, 182, 182);
}

header{
    margin: 0;
    color: #f3f3f3;
}

h2{
    text-align: center;
}

.canciones h3:hover{
    cursor: pointer;
    color: #a9a7a7f3;
}

@media (max-width: 768px) {
    .botones {
        width: 90%;
        font-size: 40px;
    }
}




